@import "./animations.scss";
@import "./configs.scss";

.container {
  margin: 0 auto;
  padding: 38px 45px 0 105px;
}

.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.img-contain {
  object-fit: contain;
  max-width: 100%;
  display: block;
  height: auto;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 4px;
  }
}

.cursor-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-image: url(../assets/img/cursor-bg.png);
  background-size: 100%;
}

.main-animation {
  &-container {
    height: calc(200vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    position: relative;
    padding-bottom: 60px;
    margin-left: 30%;
  }

  &__title {
    font-size: 22px;

    &--last {
      margin-top: 24px;
    }

    &--first {
      margin-bottom: 24px;
    }
  }

  &__laptop {
    height: 517px;
    width: 800px;
    position: relative;

    @media screen and (max-width: $breakpoint-up-xxl) {
      height: 378px;
      width: 600px;
    }
  }

  &__server {
    width: 100%;
    position: relative;
    margin-top: auto;

    @media screen and (max-width: $breakpoint-up-xxl) {
      max-width: 600px;
    }
  }

  &__line {
    width: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #005a96;
    height: calc(200vh - 1225px);
    top: 567px;
    z-index: -1;

    @media screen and (max-width: $breakpoint-up-xxl) {
      height: calc(200vh - 962px);
      top: 429px;
    }
  }

  &__gear {
    margin-top: calc(100vh - 676px);
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $breakpoint-up-xxl) {
      margin-top: calc(100vh - 538px);
    }

    .gear {
      &__img {
        background-image: url(../assets/img/gear.png);
        width: 100%;
        height: 100%;
        background-size: 100%;
        position: absolute;
        z-index: -1;

        animation: rotate 7s infinite linear;
      }

      &__text {
        color: #fff;
        font-size: 55px;
        letter-spacing: 0.1;
      }
    }
  }
}
