$breakpoint-down-xxl: 1599.98px;
$breakpoint-down-xl: 1449.98px;
$breakpoint-down-lg: 1299.98px;
$breakpoint-down-md: 1199.98px;
$breakpoint-down-sm: 999.98px;
$breakpoint-down-xs: 699.98px;
$breakpoint-down-xxs: 599.98px;
$breakpoint-down-xxxs: 499.98px;
$breakpoint-down-400: 399.98px;

$breakpoint-up-xxl: 1600px;
$breakpoint-up-xl: 1450px;
$breakpoint-up-lg: 1300px;
$breakpoint-up-md: 1200px;
$breakpoint-up-sm: 1000px;
$breakpoint-up-xs: 700px;
$breakpoint-up-xxs: 600px;
$breakpoint-up-xxxs: 500px;
$breakpoint-up-400: 400px;

$border-radius: 4px;

$anim-time-slow: 0.3s;
$anim-time-fast: 0.2s;
$anim-time: 0.25s;

$box-shadow-modal: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
