@font-face {
  font-family: "Fact Expanded";
  src: url("../assets/fonts/Fact_Expanded-Bold.woff");
}

@font-face {
  font-family: "UI Regular";
  src: url("../assets/fonts/PT-Root-UI_Regular.woff");
}

@font-face {
  font-family: "UI Bold";
  src: url("../assets/fonts/PT-Root-UI_Bold.woff");
}
