@font-face {
  font-family: "Fact Expanded";
  src: url("../assets/fonts/Fact_Expanded\ Bold.otf");
}

@font-face {
  font-family: "UI Regular";
  src: url("../assets/fonts/PT\ Root\ UI_Regular.ttf");
}

@font-face {
  font-family: "UI Bold";
  src: url("../assets/fonts/PT\ Root\ UI_Bold.ttf");
}
